html,body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

header{
    color: white;
    background-color: black;
    width: 90%;
    height: 10%;


}

fieldset{

    height: 80%;
    background-color: white;
    border: none;



}


input{
    width: 98.8%;
    margin-bottom: 2%;
    margin-top: 0.5%;


}

textarea{

    margin-bottom: 2%;
    margin-top: 1%;
    width: 100%;

}



select{
    margin-bottom: 2%;
    font-weight: bolder;
    width: 100%;
}


.submit{
    height: 10%;
    background-color: rgb(144, 12, 63) ;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    border: none;

}

.principal{

    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    background-color: grey;


}
.title{

    text-align: center;

}
.titulo{

    width: 100%;
    height: 15%;
    text-align: center;
    font-size: 90%;
    font-weight: bolder;



}

.informacion{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;


}
.descripcion{

    width: 60%;
    margin-right: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    


}

.parrafo{
    width:80%;
    text-align: start;
    font-size: 80%;
    font-weight: bolder;


}
.formulario{

    width: 30%;
    height: 100%;
    background-color: white;


}

footer{

    width: 90%;
    height: 70%;
    margin-top: 1%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    
}
.opinion{

    width: 20%;
    height: 100%;
    text-align: center;



}
.img{

    width: 50%;
    height: 50%;
    border-radius: 100%;

}

.texto{
    
    font-weight: bolder;
    text-align: start;


}

.vino{

    width: 80%;
    height: 60%;



}